@page "/Operation"
@using Microsoft.Extensions.Localization
@using global::Further.Operation.Localization
@inject IStringLocalizer<OperationResource> L
@{
}
<h1>Operation</h1>
<p>@L["SamplePageMessage"]</p>