@page
@using Microsoft.Extensions.Localization
@using Further.Operation.Localization
@using Further.Operation.Web.Pages.Operation
@model Further.Operation.Web.Pages.Operation.IndexModel
@inject IStringLocalizer<OperationResource> L

@{
}
<h1>Operation</h1>
<p>@L["SamplePageMessage"]</p>
